<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <title>Student Form Registration</title>
    </head>
    <body>
        <h3>Student Form Registration</h3>

        <form th:action="@{/processStudent}" th:object="${student}" method="POST">

            First Name : <input type="text" th:field="*{firstName}"/>
            Last Name : <input type="text" th:field="*{lastName}"/>

            <br><br>

            Student :
            <select th:field="*{country}">
                <option th:each="tempCountry : ${countries}"
                        th:value="${tempCountry}"
                        th:text="${tempCountry}">
                </option>
            </select>

            <br><br>

            Language :
            <input type="radio" th:each="tempLanguage : ${languages}"
                                th:field="*{favoriteLanguage}"
                                th:value="${tempLanguage}"
                                th:text="${tempLanguage}"/>

            <input type="submit" value="Submit"/>

            <br><br>

            Favorite Operating Systems :
            <input type="checkbox" th:each="tempSystem: ${systems}" th:field="*{favoriteSystems}" th:text="${tempSystem}" th:value="${tempSystem}"/>
        </form>
    </body>
</html>