<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Student Form Registration</title>
</head>
<body>
<h3>Student Form Registration</h3>

Hello <span th:text="${student.firstName} + ' ' + ${student.lastName}"/>
<br><br>
Form <span th:text="${student.country}"/>

<br><br>
Your favorite language : <span th:text="${student.favoriteLanguage}"/>

<br><br>
Favorite Operating Systems : <span th:text="${student.favoriteSystems}"/>

<br><br>
<ul>
    <li th:each="tempSystem : ${student.favoriteSystems}" th:text="${tempSystem}"/>
</ul>
</body>
</html>

